:root {
    @media (prefers-color-scheme: light) {
        --color-body: rgb(235, 235, 235);
        --color-text: #000;
        --color-hover: rgb(211, 245, 255);
        --color-border: rgba(160, 160, 160, 0.4);
        --color-scrollbar: rgb(110, 110, 110);
        --color-scrollbar-thumb: rgb(180, 180, 180);
        --color-level-1: #fff;
    }

    @media (prefers-color-scheme: dark) {
        --color-body: rgb(20, 20, 20);
        --color-text: #fff;
        --color-hover: rgb(60, 60, 60);
        --color-border: rgba(80, 80, 80, 0.4);
        --color-scrollbar: rgb(60, 60, 60);
        --color-scrollbar-thumb: rgb(90, 90, 90);
        --color-level-1: rgb(40, 40, 40);
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    background-color: var(--color-body);
    color: var(--color-text);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
}

::-webkit-scrollbar {
    background: var(--color-scrollbar);
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);

    :hover {
        background: var(--color-hover);
    }
}

#app {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    outline: none;
    min-height: 24px;

    &::placeholder {
        font-weight: bold;
    }
}

.no-scroll {
    overflow: hidden;
}

.link {
    cursor: pointer;
    width: max-content;
    text-decoration: underline;
}

.base--list {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}